.custom-shape-divider-bottom-1676457415 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1676457415 svg {
    position: relative;
    display: block;
    width: calc(198% + 1.3px);
    height: 228px;
}

.custom-shape-divider-bottom-1676457415 .shape-fill {
    fill: #FFFFFF;
}